@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    font-family:'Raleway', sans-serif;
}

/* .content-right{
    margin-left: 600px;
} */


.analytics {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
    padding-left: 200px;
    
}

.card {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
   /*  background: #fff; */
/*     padding: 1rem; */
    border-radius: 3px;
    padding: 10px;
    padding-right: 30px;
    display: block;
}

.card-head {
   
}

.card-head h2 {
    color: #333;
    font-size: 1.8rem;
    font-weight: 500;
}

.card-head span {
    font-size: 3.2rem;
    color: var(--text-grey);
}

.card-progress small {
    color: #777;
    font-size: .8rem;
    font-weight: 600;
}

.card-indicator {
    margin: .7rem 0rem;
    height: 10px;
    border-radius: 4px;
    background: #e9edf2;
    overflow: hidden;
}

.indicator {
    height: 10px;
    border-radius: 4px;
}

.indicator.one {
    background: #22baa0;
}

.indicator.two {
    background: #11a8c3;
}

.indicator.three {
    background: #f6d433;
}

.indicator.four {
    background: #f25656;
}

.header-dash{
    display: flex;
    margin-left: 50px;
}

.button{
    width: 150px;
    height: 100px;
    padding: 20px 30px;
    box-shadow: 0px 0px 15px 2px #ABB2B9;
    border-radius: 10px;
    background-color:white;
    color: #51619b;
    margin-bottom: 50px;
    margin-left: 50px;
}

.button a{
    color: rgba(38, 38, 38, 0.55);
    text-align: center;
    font-size: 25px;
}

.button:hover{
    transform: scale(1.08);
    z-index: 1;
}

.button1{
    width: 240px;
    height: 100px;
    padding: 20px 30px;
    box-shadow: 0px 0px 15px 2px #ABB2B9;
    border-radius: 10px;
    background-color:white;
    color: #51619b;
    margin-bottom: 50px;
    margin-left: 50px;
}

.button1 a{
    color: rgba(38, 38, 38, 0.55);
    text-align: center;
    font-size: 25px;
}

.button1:hover{
    transform: scale(1.08);
    z-index: 1;
}

.all-tasks{
    padding: 0 ;
    font-size: 18px;
}

.task-tbl{
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    table-layout: fixed;
    display: inline-block;
    height: 450px;
    border-collapse: separate;
    border-spacing: 30px;
    color: #51619b;
    font-weight: 520;
}

.task-tbl tr {
    border: 2px solid grey ;
}


.task-tbl tr th{
    /*border-bottom: 2px solid grey ;*/
    padding: 10px 40px;
    font-size: 17px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
}

.task-tbl tr td{
    text-align: center;
    padding: 20px;
    font-size: 14px;
    /*border-bottom: 1px solid grey ;*/
    z-index: -2;
}

.dropbtn a{
    color: #022D66;
    border: none;
    background: rgba(129, 129, 129, 0.44);
    text-align: center;
    padding: 10px 20px;
    font-size: 15px;
    align-self: center;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.dropdown a:hover{
    background-color: rgba(129, 129, 129, 0.3);
}

.dropdown {
    align-items: center;
    background:none;
    color: #51619b;
    padding: 5px 5px;
    font-size: 13px;
}

.table-header th{
    background: white;
}

.container_pro {
    background-color: rgb(192, 192, 192);
    width: 80%;
    border-radius: 15px;
}

.project {
    background-color: rgb(84, 210, 39);
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 12px;
    border-radius: 15px;
}

.progress {
    width: 70%;
}

h2{
    color: #071D70;
}
