
/* Style the form - display items horizontally */

.contain{
    margin-top: 50000px;
}
.form-inline {
    display: inline-block;
    flex-flow: row wrap;
    align-items: center;
    margin-left: 500px;
    margin-top: -250px;
    
}

/* Add some margins for each label */
.form-inline label {
    margin: 10px 15px 10px 0px;
}

/* Style the input fields */
.form-inline input {
    vertical-align: middle;
    margin: 5px 100px 5px 0;
    padding: 10px 50px;
    background-color: #fff;
    border: 2px solid #ddd;
    text-align: center;
}

/*!* Style the submit button *!*/
/*.form-inline button {*/
/*    padding: 100px 50px;*/
/*    background-color: dodgerblue;*/
/*    border: 1px solid #ddd;*/
/*    color: white;*/
/*}*/

.form-inline button:hover {
    background-color: royalblue;
}

@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}

h2{
    color: #071D70;
    margin-left: 400px;

}

.form-inline select {
    vertical-align: middle;
    margin: 5px 100px 5px 0;
    padding: 10px 77px;
    background-color: #fff;
    border: 2px solid #ddd;
    text-align: left;
}

.form-inline select option{
    text-align: left;
}

textarea {
    width: 100%;
    height: 250px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.inner1{
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    margin-left: 70px;
    border: 2px solid #262626;
    padding: 10px 18px;
    font-size: 15px;
    align-self: center;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.inner1:hover{
    background-color: #ffffff;
}

.inner2{
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    margin-left: 10px;
    border: 2px solid #262626;
    padding: 10px 18px;
    font-size: 15px;
    align-self: center;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.inner2:hover{
    background-color: #ffffff;
}

.bar{
    margin-left: 200px;
}

.custom-select-sm{
    vertical-align: middle;
    margin: 5px 100px 5px 0;
    padding: 10px 50px;
    background-color: #fff;
    border: 2px solid #ddd;
    text-align: left;
}
.error {
    color: #FF0001;
    text-align: center;
} 
/* .up{
    margin-top: 150px;
} */



